pip==24.0
ipython==8.18.1

# test
tox==4.15.0

# docs
mkdocs==1.6.0
mkdocs-autorefs==1.0.1
mkdocs-material==9.5.24
mkdocstrings==0.25.1
mkdocstrings-python==1.10.3
mkdocs-same-dir==0.1.3

redis
-r requirements_test.txt

# 打包需要
setuptools==70.0.0
wheel==0.43.0
twine==5.1.0
