name: unit testing

on:
  push:
    branches:
      - master
    paths-ignore:
      - 'docs/**'
      - 'README.md'
  pull_request:
    paths-ignore:
      - 'docs/**'
      - 'README.md'
  workflow_dispatch:


jobs:

  build:
    services:
      redis:
        image: redis
        ports:
          - 6379/tcp

    runs-on: ubuntu-20.04
    strategy:
      matrix:
        python: [ "3.6", "3.9", "3.12" ]

    steps:
      - uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}

      - name: Install tox and any other packages
        run: pip install tox coveralls

      - name: Run tox targets for ${{ matrix.python }}
        run: tox run -f py$(echo ${{ matrix.python }} | tr -d .)

      - name: Upload coverage
        if: ${{ matrix.python == '3.9' }}
        env:
          COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
        run:
          coveralls
